.sub-2,
.sub-2 * {
  box-sizing: border-box;
}
.sub-2 {
  background: #ffffff;
  height: 844px;
  position: relative;
  overflow: hidden;
}
.sub-2 .group-6 {
  position: absolute;
  inset: 0;
}
.sub-2 .rectangle-7 {
  background: #a3cca2;
  border-radius: 10px;
  width: 331px;
  height: 165px;
  position: absolute;
  left: 35px;
  top: 374px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sub-2 .rectangle-8 {
  background: #a3cca2;
  border-radius: 10px;
  width: 331px;
  height: 165px;
  position: absolute;
  left: 31px;
  top: 557px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sub-2 .image-removebg-preview-19-2 {
  width: 102px;
  height: 103px;
  position: absolute;
  left: 288px;
  top: -6px;
  object-fit: cover;
}
.sub-2 .rectangle-5 {
  background: rgba(25, 0, 115, 0.04);
  border-radius: 10px;
  width: 331px;
  height: 53px;
  position: absolute;
  left: 31px;
  top: 228px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sub-2 .depth-4-frame-5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  height: 56px;
  position: absolute;
  left: 50px;
  top: 225px;
  overflow: hidden;
}
.sub-2 .div {
  color: #121417;
  text-align: left;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 24px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  width: 326px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sub-2 .rectangle-6 {
  background: rgba(25, 0, 115, 0.04);
  border-radius: 10px;
  width: 331px;
  height: 53px;
  position: absolute;
  left: 31px;
  top: 291px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sub-2 .depth-4-frame-6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  height: 56px;
  position: absolute;
  left: 50px;
  top: 288px;
  overflow: hidden;
}
.sub-2 .depth-4-frame-11 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  height: 56px;
  position: absolute;
  left: 50px;
  top: 288px;
  overflow: hidden;
}
.sub-2 .depth-4-frame-52 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 428px;
  position: absolute;
  left: 23px;
  top: 141px;
  overflow: hidden;
}
.sub-2 .div2 {
  color: #121417;
  text-align: left;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  width: 416px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sub-2 .line-4 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 333.01px;
  height: 0px;
  position: absolute;
  left: 25px;
  top: 361px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.sub-2 .depth-4-frame-12 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 547px;
  height: 56px;
  position: absolute;
  left: -85px;
  top: 384.75px;
  overflow: hidden;
}
.sub-2 ._1500-0-5 {
  color: #121417;
  text-align: left;
  position: relative;
  width: 326px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
._1500-0-5-span {
  color: #121417;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 24px;
  line-height: 21px;
  font-weight: 400;
}
._1500-0-5-span2 {
  color: #121417;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
}
.sub-2 .image-5 {
  width: 302px;
  height: 145px;
  position: absolute;
  left: -104px;
  top: 435.75px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sub-2 .depth-4-frame-14 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 547px;
  height: 56px;
  position: absolute;
  left: -51px;
  top: 545.75px;
  overflow: hidden;
}
.sub-2 ._1500-1-17 {
  color: #121417;
  text-align: left;
  position: relative;
  width: 401px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
._1500-1-17-span {
  color: #121417;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 24px;
  line-height: 21px;
  font-weight: 400;
}
._1500-1-17-span2 {
  color: #121417;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
}
.sub-2 ._65 {
  color: #121417;
  text-align: left;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 213px;
  top: 602px;
  width: 401px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sub-2 .div3 {
  color: #121417;
  text-align: left;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 151px;
  top: 468px;
  width: 401px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sub-2 .div4 {
  color: #121417;
  text-align: left;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 151px;
  top: 646px;
  width: 401px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sub-2 .image-removebg-preview-23-1 {
  width: 64px;
  height: 60px;
  position: absolute;
  left: 71px;
  top: 448px;
  object-fit: cover;
}
.sub-2 .image-removebg-preview-24-1 {
  width: 135px;
  height: 145px;
  position: absolute;
  left: 35px;
  top: 582px;
  object-fit: cover;
}
.sub-2 .rectangle-52 {
  background: #a3cca2;
  border-radius: 10px;
  width: 188px;
  height: 82px;
  position: absolute;
  left: 31px;
  top: 56px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sub-2 .depth-4-frame-53 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: -38px;
  top: 66px;
  overflow: hidden;
}
.sub-2 .div5 {
  text-align: center;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  width: 326px;
  height: 57px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.div-5-span {
  color: #121417;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
}
.div-5-span2 {
  color: #52595f;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
}
.sub-2 .depth-3-frame-2 {
  background: #0d990a;
  border-radius: 12px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 358px;
  height: 61px;
  min-width: 84px;
  max-width: 480px;
  position: absolute;
  left: 19px;
  top: 750px;
  overflow: hidden;
}
.sub-2 .depth-4-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.div-5-span3 {
  color: #121417;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
}
.div-5-span4 {
  color: #f6fbff;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
}
