.sub-2,
.sub-2 * {
  box-sizing: border-box;
}
.sub-2 {
  background: #ffffff;
  height: 844px;
  position: relative;
  overflow: hidden;
}
.sub-2 .group-6 {
  position: absolute;
  inset: 0;
}
.sub-2 .rectangle-7 {
  background: #a3cca2;
  border-radius: 10px;
  width: 331px;
  height: 165px;
  position: absolute;
  left: 35px;
  top: 374px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sub-2 .rectangle-8 {
  background: #a3cca2;
  border-radius: 10px;
  width: 331px;
  height: 165px;
  position: absolute;
  left: 31px;
  top: 557px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sub-2 .rectangle-5 {
  background: rgba(25, 0, 115, 0.04);
  font-size: 24px;
  border-radius: 10px;
  width: 331px;
  height: 53px;
  position: absolute;
  left: 31px;
  top: 228px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sub-2 .depth-4-frame-5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  height: 56px;
  position: absolute;
  left: 50px;
  top: 225px;
  overflow: hidden;
}
.sub-2 .div {
  color: #121417;
  text-align: left;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 24px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  width: 326px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sub-2 .rectangle-6 {
  background: rgba(25, 0, 115, 0.04);
  font-size: 24px;
  border-radius: 10px;
  width: 331px;
  height: 53px;
  position: absolute;
  left: 31px;
  top: 291px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sub-2 .depth-4-frame-6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  height: 56px;
  position: absolute;
  left: 50px;
  top: 288px;
  overflow: hidden;
}
.sub-2 .depth-4-frame-11 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  height: 56px;
  position: absolute;
  left: 50px;
  top: 288px;
  overflow: hidden;
}
.sub-2 .depth-4-frame-52 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 428px;
  position: absolute;
  left: 23px;
  top: 141px;
  overflow: hidden;
}

.sub-2 .line-uppermiddle {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 333.01px;
  height: 0px;
  position: absolute;
  left: 25px;
  top: 361px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.sub-2 .text-box-1 {
  color: #121417;
  font-size: 24px;
  align-content: center;
  text-align: right;
  position: relative;
  top: 20px;
  left: 50px;
  width: 80%;
  height: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
}


.sub-2 .image-5 {
  width: 302px;
  height: 145px;
  position: absolute;
  left: -104px;
  top: 435.75px;
  box-shadow: none;
}
.sub-2 .depth-4-frame-14 {
  background-color: none;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 565px;
  overflow: hidden;
  width: 200px;
  height: 150px;
  left: 150px;
}
.sub-2 ._1500-1-17 {
  color: #121417;
  text-align: left;
  position: relative;
  width: 401px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sub-2 ._65 {
  color: #121417;
  text-align: left;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 213px;
  top: 602px;
  width: 401px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sub-2 .div3 {
  color: #121417;
  text-align: left;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 151px;
  top: 468px;
  width: 401px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sub-2 .div4 {
  color: #121417;
  text-align: left;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 151px;
  top: 646px;
  width: 401px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sub-2 .image-bus {
  width: 64px;
  height: 60px;
  position: absolute;
  left: 60px;
  top: 425px;
  object-fit: cover;
}
.sub-2 .image-train {
  width: 135px;
  height: 145px;
  position: absolute;
  left: 25px;
  top: 570px;
  object-fit: cover;
}

.sub-2 .depth-4-frame-53 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: -38px;
  top: 66px;
  overflow: hidden;
}

.sub-2 .depth-4-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

