.main,
.main * {
  box-sizing: border-box;
}
.main {
  background: #ffffff;
  height: 844px;
  position: relative;
  overflow: hidden;
}
.main .group-5 {
  position: absolute;
  inset: 0;
}
.main .group-4 {
  width: 426px;
  height: 815px;
  position: static;
}
.main .group-3 {
  width: 426px;
  height: 815px;
  position: static;
}
.main .depth-3-frame-2 {
  background: #0d990a;
  border-radius: 12px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 343px;
  height: 61px;
  min-width: 84px;
  max-width: 480px;
  position: absolute;
  left: 27px;
  top: 748px;
  overflow: hidden;
}
.main .depth-4-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.main .div {
  text-align: center;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  width: 326px;
  height: 57px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.div-span {
  color: #121417;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
}
.div-span2 {
  color: #f6fbff;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
}
.main .image-removebg-preview-19-2 {
  width: 102px;
  height: 103px;
  position: absolute;
  left: 288px;
  top: 0px;
  object-fit: cover;
}
.main .div2 {
  color: #121417;
  text-align: left;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 40px;
  line-height: 45px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 136px;
  width: 468px;
  height: 243px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main .depth-3-frame-1 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 390px;
  height: 192px;
  max-width: 480px;
  position: absolute;
  left: 0px;
  top: 379px;
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
}
.main .depth-4-frame-02 {
  background: #a3cca2;
  border-radius: 12px;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  height: 168px;
  min-width: 84px;
  max-width: 480px;
  position: relative;
  overflow: hidden;
}
.navigate-button {
  font-size: 2em;
  font-weight: bold;/* Increases font size */
  padding: 60px 120px; /* Adds more padding */
  margin-left: 5px;
  border-radius: 8px;     /* Rounds the corners */
  border: none;           /* Removes any default border */
  background-color: #a3cca2; /* Changes button color (optional) */
  color: #000000;            /* Makes the text color white */
  cursor: pointer;        /* Changes cursor on hover */
  transition: transform 0.2s; /* Adds a slight animation on hover */
}

.navigate-button:hover {
  color: white;
  background-color: #ff004d;
  transform: scale(1.1); /* Enlarges button slightly on hover */
  cursor: pointer;
}

.main .depth-4-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: none;
  overflow: hidden;
}
.main .div3 {
  color: #000000;
  text-align: center;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 10px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  width: 326px;
  height: 57px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main .depth-4-frame-12 {
  border-radius: 12px;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  height: 48px;
  min-width: 84px;
  max-width: 480px;
  position: relative;
  overflow: hidden;
}
.main .line-5 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 358px;
  height: 0px;
  position: absolute;
  left: 16px;
  top: 162px;
  transform-origin: 0 0;
  transform: rotate(-0.16deg) scale(1, 1);
}
