.group-8,
.group-8 * {
  box-sizing: border-box;
}
.group-8 {
  height: 844px;
  position: relative;
}
.group-8 .frame-4 {
  background: #ffffff;
  width: 408.14px;
  height: 844px;
  position: absolute;
  left: 39px;
  top: 0px;
  overflow: hidden;
}
.group-8 .image-removebg-preview-19-2 {
  width: 102px;
  height: 103px;
  position: absolute;
  left: 288px;
  top: -6px;
  object-fit: cover;
}
.group-8 .group-7 {
  position: absolute;
  inset: 0;
}
.group-8 .depth-2-frame-0 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 390px;
  height: 108px;
  position: absolute;
  left: 2px;
  top: 671px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-8 .depth-3-frame-0 {
  background: #a3cca2;
  border-radius: 12px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 61px;
  min-width: 84px;
  max-width: 480px;
  position: relative;
  overflow: hidden;
}
.group-8 .depth-4-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.group-8 .div {
  color: #121417;
  text-align: center;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  width: 326px;
  height: 57px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.group-8 .depth-2-frame-1 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 379px;
  height: 133px;
  position: absolute;
  left: 4px;
  top: 283px;
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
}
.group-8 .depth-3-frame-02 {
  background: #f0f2f5;
  border-radius: 12px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 107px;
  min-width: 84px;
  max-width: 480px;
  position: relative;
  overflow: hidden;
}
.group-8 .depth-4-frame-9 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 547px;
  height: 56px;
  position: absolute;
  left: -78px;
  top: 201px;
  overflow: hidden;
}
.group-8 ._1500-0-17 {
  color: #121417;
  text-align: left;
  position: relative;
  width: 355px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
._1500-0-17-span {
  color: #121417;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 24px;
  line-height: 21px;
  font-weight: 400;
}
._1500-0-17-span2 {
  color: #121417;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
}
.group-8 .div2 {
  color: #121417;
  text-align: left;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 24px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  width: 326px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.group-8 .depth-4-frame-10 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 226px;
  height: 131px;
  position: absolute;
  left: 121px;
  top: 297px;
  overflow: hidden;
}
.group-8 ._12 {
  color: #121417;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  width: 345px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
._12-span {
  color: #121417;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
}
._12-span2 {
  color: #121417;
  font-family: "NotoSerif-ExtraBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 800;
}
.group-8 .depth-4-frame-11 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 226px;
  height: 132px;
  position: absolute;
  left: 114px;
  top: 336px;
  overflow: hidden;
}
.group-8 .div3 {
  color: #121417;
  text-align: center;
  font-family: "NotoSerif-Light", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 300;
  position: relative;
  width: 345px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.group-8 .image-removebg-preview-21-1 {
  width: 71px;
  height: 90px;
  position: absolute;
  left: 27px;
  top: 290px;
  object-fit: cover;
}
.group-8 .depth-4-frame-5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 483px;
  position: absolute;
  left: 24px;
  top: 141px;
  overflow: hidden;
}
.group-8 .div4 {
  color: #121417;
  text-align: left;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 63px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.group-8 .image-1 {
  width: 294px;
  height: 136px;
  position: absolute;
  left: -104px;
  top: 325px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-8 .depth-2-frame-2 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 379px;
  height: 133px;
  position: absolute;
  left: 4px;
  top: 283px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-8 .depth-3-frame-03 {
  background: #a3cca2;
  border-radius: 12px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 107px;
  min-width: 84px;
  max-width: 480px;
  position: relative;
  overflow: hidden;
}
.group-8 .depth-4-frame-12 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 226px;
  height: 131px;
  position: absolute;
  left: 121px;
  top: 297px;
  overflow: hidden;
}
._12-span3 {
  color: #121417;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
}
._12-span4 {
  color: #121417;
  font-family: "NotoSerif-ExtraBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 800;
}
.group-8 .depth-4-frame-13 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 226px;
  height: 132px;
  position: absolute;
  left: 114px;
  top: 336px;
  overflow: hidden;
}
.group-8 .image-2 {
  width: 294px;
  height: 136px;
  position: absolute;
  left: -104px;
  top: 325px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-8 .depth-2-frame-3 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 379px;
  height: 133px;
  position: absolute;
  left: 4px;
  top: 401px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-8 .depth-4-frame-14 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 226px;
  height: 132px;
  position: absolute;
  left: 121px;
  top: 415px;
  overflow: hidden;
}
._12-span5 {
  color: #121417;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
}
._12-span6 {
  color: #121417;
  font-family: "NotoSerif-ExtraBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 800;
}
.group-8 .depth-4-frame-15 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 226px;
  height: 131px;
  position: absolute;
  left: 114px;
  top: 455px;
  overflow: hidden;
}
.group-8 .image-removebg-preview-21-2 {
  width: 71px;
  height: 90px;
  position: absolute;
  left: 27px;
  top: 409px;
  object-fit: cover;
}
.group-8 .image-3 {
  width: 294px;
  height: 136px;
  position: absolute;
  left: -104px;
  top: 443px;
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
}
.group-8 .depth-2-frame-4 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 379px;
  height: 133px;
  position: absolute;
  left: 4px;
  top: 401px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-8 .depth-4-frame-16 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 262px;
  height: 132px;
  position: absolute;
  left: 98px;
  top: 415px;
  overflow: hidden;
}
.group-8 ._2-3-2 {
  color: #121417;
  text-align: right;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.group-8 .depth-4-frame-17 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 226px;
  height: 140px;
  position: absolute;
  left: 114px;
  top: 455px;
  overflow: hidden;
}
.group-8 .image-4 {
  width: 294px;
  height: 136px;
  position: absolute;
  left: -104px;
  top: 443px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-8 .image-5 {
  width: 294px;
  height: 136px;
  position: absolute;
  left: -104px;
  top: 448px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-8 .image-6 {
  width: 294px;
  height: 136px;
  position: absolute;
  left: -104px;
  top: 448px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-8 .depth-2-frame-5 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 379px;
  height: 133px;
  position: absolute;
  left: 4px;
  top: 524px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-8 .depth-4-frame-20 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 226px;
  height: 132px;
  position: absolute;
  left: 121px;
  top: 538px;
  overflow: hidden;
}
._12-span7 {
  color: #121417;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
}
._12-span8 {
  color: #121417;
  font-family: "NotoSerif-ExtraBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 800;
}
.group-8 .depth-4-frame-21 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 226px;
  height: 131px;
  position: absolute;
  left: 114px;
  top: 578px;
  overflow: hidden;
}
.group-8 .image-7 {
  width: 294px;
  height: 136px;
  position: absolute;
  left: -104px;
  top: 566px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-8 .depth-2-frame-6 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 379px;
  height: 133px;
  position: absolute;
  left: 4px;
  top: 524px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-8 .depth-4-frame-22 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 334px;
  position: absolute;
  left: 49px;
  top: 562px;
  overflow: hidden;
}
.group-8 ._5 {
  color: #121417;
  text-align: center;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  width: 345px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.group-8 .depth-4-frame-23 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: 131px;
  position: absolute;
  left: 98px;
  top: 577px;
  overflow: hidden;
}
.group-8 ._2 {
  color: #121417;
  text-align: center;
  font-family: "NotoSerif-Light", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 300;
  position: relative;
  width: 345px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.group-8 .image-8 {
  width: 294px;
  height: 136px;
  position: absolute;
  left: -104px;
  top: 566px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-8 .line-1 {
  width: 333.01px;
  height: 0px;
  position: absolute;
  left: 31px;
  top: 270.5px;
  overflow: visible;
}
.group-8 .line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 333.01px;
  height: 0px;
  position: absolute;
  left: 30px;
  top: 665px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-8 .image-9 {
  width: 61px;
  height: 64px;
  position: absolute;
  left: 30px;
  top: 436px;
  object-fit: cover;
}
.group-8 .group-72 {
  width: 205.12px;
  height: 592px;
  position: static;
}
.group-8 .image-removebg-preview-21-3 {
  width: 80.58px;
  height: 95px;
  position: absolute;
  left: 65.93px;
  top: 301px;
  object-fit: cover;
}
.group-8 .image-removebg-preview-21-4 {
  width: 80.58px;
  height: 95px;
  position: absolute;
  left: 63.84px;
  top: 545px;
  object-fit: cover;
}
.group-8 .rectangle-1 {
  background: #a3cca2;
  border-radius: 10px;
  width: 196.74px;
  height: 82px;
  position: absolute;
  left: 72.21px;
  top: 48px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-8 .depth-4-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 341.16px;
  position: absolute;
  left: 0px;
  top: 58px;
  overflow: hidden;
}
.group-8 .group-73 {
  flex-shrink: 0;
  width: 326px;
  height: 57px;
  position: static;
}
.group-8 .div5 {
  text-align: center;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 7.58px;
  top: 0px;
  width: 326px;
  height: 57px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.div-5-span {
  color: #121417;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
}
.div-5-span2 {
  color: #52595f;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
}
.group-8 .depth-3-frame-2 {
  background: #0d990a;
  border-radius: 12px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 358px;
  height: 61px;
  min-width: 84px;
  max-width: 480px;
  position: absolute;
  left: 60px;
  top: 765px;
  overflow: hidden;
}
.group-8 .div6 {
  text-align: center;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  width: 326px;
  height: 57px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.div-6-span {
  color: #121417;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
}
.div-6-span2 {
  color: #f6fbff;
  font-family: "NotoSerif-DisplayBold", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
}
